<ul class="nav nav-tabs keka-section-nav">
  <li
    class="nav-item"
    [ngClass]="{ 'current-section': getRoute() == '/qna/home' }"
  >
    <a class="nav-link" href="/" [routerLink]="['/']">Home</a>
  </li>
  <li
    class="nav-item"
    [ngClass]="{ 'current-section': getRoute() == '/qna/categories' }"
  >
    <a class="nav-link" href="categories" [routerLink]="['categories']"
      >Categories</a
    >
  </li>
  <li
    class="nav-item"
    [ngClass]="{ 'current-section': getRoute().indexOf('/qna/users') != -1 }"
  >
    <a class="nav-link" href="users/all" [routerLink]="['/qna/users/all']"
      >Users</a
    >
  </li>
</ul>
