<nav class="d-flex justify-content-between">
  <a href="" class="logo">
    <div class="logo h-100 d-flex justify-content-center align-items-center">
      <img src="../../../assets/img/keka_logo.png" alt="" class="logo-img" />
    </div>
  </a>
  <div class="profile-controls d-flex align-items-center">
    <span class="current-date">{{ getCurrentDate() }}</span>
    <img
      src="../../../assets/img/sun_logo.png"
      alt="sun logo"
      class="sun-img"
    />
    <div class="d-inline-block" *ngIf="isLoggedIn">
      <a class="text-white mr-3" href="#" (click)="logout()">Logout</a>
      <span class="user-name mr-3">{{ userProfile.userName }}</span>
      <img
        src="{{ userProfile.userImage }}
      "
        alt=""
        class="profile-pic"
      />
    </div>
    <button
      class="btn text-white"
      *ngIf="isLoggedIn == false"
      [routerLink]="['account/login']"
    >
      Login
    </button>
  </div>
</nav>
