/* You can add global styles to this file, and also import other style files */
//COLORS
.br {
  border: solid red 2px;
}
$violet-dark: #524361;
$violet-light: #76618b;
$grey: #3e4249;
$grey-light: #505661;
$text-muted: #757575;
$body-color: #f4f5f8;
$text-light-brown: #2d2d2d;
$sidebar-width: 100px;
$modal-header-bg: #515968;
$checkbox-color: #86c06a;

//MEASUREMENTS
$checkbox-size: 18px;
$logo-img-width: 64px;
$nav-height: 61.3720929952px;
$profile-right-margin: 19.0705788944px;
$profile-pic-regular-width: 40px;
$profile-pic-sm-width: 20px;
$profile-pic-lg-width: 52px;
$sun-img-width: 20px;
$sidebar-logos-width: 25px;
$form-select-flex: 160px;
$form-reset-flex: 200px;
$keywords-input-flex: 318px;
$categories-flex: 450px;
$show-categories-flex: 220px;
$default-grid-gap: 20px;
$custom-modal-width: 700px;
$modal-input-width: 450px;

//GRID
$home-grid-width: 58%;

//BIG EDITOR
$big-editor-height: 30rem;
$big-editor-width: 45rem;
$big-editor-top: -375%;
$big-editor-left: -30%;
$big-editor-head: 45px;

$sidebar-width: 100px;

.header {
  height: 50px;
  background-color: #76618b;
}
.logo {
  background-color: #524361;
  width: $sidebar-width;
}

.sidebar {
  width: 100%;
  background-color: #3e4249;
  min-height: 100vh;
  height: 100%;
}
.main-grid {
  display: grid;
  grid-template-columns: $sidebar-width auto;
  grid-template-rows: auto;
}
.side-bar-logos {
  width: $sidebar-logos-width;
}

.text-sm {
  font-size: small;
}
.forum {
  height: 4.5rem;
  width: 100%;
  background-color: #505661;
  align-items: center;
}
.w-350px {
  width: 350px;
}

.bg-bisque {
  background-color: bisque;
}
input.form-control,
input.form-control:focus {
  color: black;
  border-color: black;
  border-radius: 0px;
  border-width: 2px;
}

input.form-control:focus {
  box-shadow: none;
  border-bottom-color: black;
}
button {
  background-color: #dc3545;
}

button[type="submit"].btn {
  border-radius: 20px;
  background-color: rgb(141, 55, 55);
  color: #fff;
}

div.form-group label {
  color: black;
  font-weight: bold;
}

div.form-group.required > label:first-child:after {
  content: "*";
  color: #dc3545;
  padding-left: 5px;
}

#toast-container > div {
  opacity: 1;
}

form {
  margin: 0px 16px;
}

div.side-header {
  border: 3px solid black;
}

.movie-container {
  width: 250px;
  height: 450px;
  img {
    height: 300px;
  }
}

//---------------- Categories ---------------------------------
.categories {
  flex-basis: $categories-flex;
}

.show-category {
  flex-basis: $show-categories-flex;
  margin-left: 20px;
}

.standard-grid {
  display: grid;
  grid-gap: $default-grid-gap;
  grid-template-columns: 1fr 1fr 1fr;
}

.category-card {
  border: 1px solid lightgrey;
  padding: 18px;
  border-radius: 5px;
  background-color: white;
}

.categories-content {
  background-color: $body-color;
}
