/* You can add global styles to this file, and also import other style files */
//COLORS
.br {
  border: solid red 2px;
}
$violet-dark: #524361;
$violet-light: #76618b;
$grey: #3e4249;
$grey-light: #505661;
$text-muted: #757575;
$body-color: #f4f5f8;
$text-light-brown: #2d2d2d;
$sidebar-width: 100px;
$modal-header-bg: #515968;
$checkbox-color: #86c06a;

//MEASUREMENTS
$checkbox-size: 18px;
$logo-img-width: 64px;
$nav-height: 61.3720929952px;
$profile-right-margin: 19.0705788944px;
$profile-pic-regular-width: 40px;
$profile-pic-sm-width: 20px;
$profile-pic-lg-width: 52px;
$sun-img-width: 20px;
$sidebar-logos-width: 25px;
$form-select-flex: 160px;
$form-reset-flex: 200px;
$keywords-input-flex: 318px;
$categories-flex: 450px;
$show-categories-flex: 220px;
$default-grid-gap: 20px;
$custom-modal-width: 700px;
$modal-input-width: 450px;

//GRID
$home-grid-width: 58%;

//BIG EDITOR
$big-editor-height: 30rem;
$big-editor-width: 45rem;
$big-editor-top: -375%;
$big-editor-left: -30%;
$big-editor-head: 45px;

$sidebar-width: 100px;

body {
  height: 100vh;
  background-color: $body-color;
}

input:focus,
input:active {
  outline: none;
}

nav {
  height: $nav-height;
  background-color: $violet-light;
}

.logo {
  width: $sidebar-width;
  background-color: $violet-dark;

  &-img {
    width: $logo-img-width;
  }
}
.profile {
  &-controls {
    color: white;

    & > * {
      margin-right: $profile-right-margin;
    }
  }

  &-pic {
    width: $profile-pic-regular-width;
    border-radius: 100%;

    &-sm {
      border-radius: 100%;
      width: $profile-pic-sm-width;
    }

    &-lg {
      border-radius: 100%;
      width: $profile-pic-lg-width;
      height: $profile-pic-lg-width;
    }
  }
}

.sun-img {
  width: $sun-img-width;
}
.sidebar {
  width: 100%;
  background-color: #3e4249;
  min-height: 100vh;
  height: 100%;
}
.main-grid {
  display: grid;
  grid-template-columns: $sidebar-width auto;
  grid-template-rows: auto;
}
.side-bar-logos {
  width: $sidebar-logos-width;
}

.text-sm {
  font-size: small;
}
.forum {
  height: 4.5rem;
  width: 100%;
  background-color: #505661;
  align-items: center;
}
.w-350px {
  width: 350px;
}

.bg-bisque {
  background-color: bisque;
}
input.form-control,
input.form-control:focus {
  color: black;
  border-color: black;
  border-radius: 0px;
  border-width: 2px;
}

input.form-control:focus {
  box-shadow: none;
  border-bottom-color: black;
}
button {
  background-color: #dc3545;
}

button[type="submit"].btn {
  border-radius: 20px;
  background-color: rgb(141, 55, 55);
  color: #fff;
}

div.form-group label {
  color: black;
  font-weight: bold;
}

div.form-group.required > label:first-child:after {
  content: "*";
  color: #dc3545;
  padding-left: 5px;
}

#toast-container > div {
  opacity: 1;
}

form {
  margin: 0px 16px;
}

div.side-header {
  border: 3px solid black;
}

.movie-container {
  width: 250px;
  height: 450px;
  img {
    height: 300px;
  }
}

//---------------- Categories ---------------------------------
.categories {
  flex-basis: $categories-flex;
}

.show-category {
  flex-basis: $show-categories-flex;
  margin-left: 20px;
}

.standard-grid {
  display: grid;
  grid-gap: $default-grid-gap;
  grid-template-columns: 1fr 1fr 1fr;
}

.category-card {
  border: 1px solid lightgrey;
  padding: 18px;
  border-radius: 5px;
  background-color: white;
}

.categories-content {
  background-color: $body-color;
}
//------------------------ SECTION NAV-------------------------
.keka-section-nav > li {
  position: relative;
  margin-bottom: 0px !important;
  text-transform: uppercase;
}

.current-section {
  font-weight: bold;
  color: black;

  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    background-color: #6e6c7b;
    height: 10px;
    position: absolute;
    left: 45%;
    top: 88%;
    transform: rotate(45deg);
  }

  a {
    color: black !important;
  }
}

.keka-section-nav a {
  display: inline-block;
  font-size: 12px;
  color: #818181;
}

.keka-section-nav {
  overflow: hidden;
  padding-top: 8px;
}

//------------------ Users -------------------------------------

.user-search {
  flex-basis: 400px;
}

.user-data {
  line-height: 20px;
}

.users-content {
  background-color: $body-color;
}

.user-card {
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.user-card-footer {
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-evenly;
}

.user-stat {
  text-align: center;
  padding: 14px 5px 12px 5px;
  flex: 1;
  &:not(:first-child) {
    border-left: 1px solid lightgrey;
  }

  &-value {
    color: #222;
  }

  &-2 {
    text-align: center;
    background-color: $body-color;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 10px;
  }

  &-value {
    align-self: center;
    font-size: 20px;
  }
}

.user-details-container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;
}

.user-info-detailed {
  padding-right: 120px;
}

.user-details-footer {
  border-top: 1px solid lightgrey;
  background-color: white;
}

.user-detail-grid {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: auto;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.user-details-content {
  background-color: white;
}

.user-answer-pane {
  background-color: #f8f8f9;
  border-left: 1px solid lightgrey;
}

.user-details-nav {
  li {
    border-bottom: 4px solid transparent;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.user-details-current {
  border-bottom: 4px solid $violet-dark !important;
}

.user-questions {
  min-height: 500px;
  background-color: #fff;
}

//------------------------------Utility --------------------------

.fnt-20 {
  font-size: 20px;
}

.fnt-14 {
  font-size: 14px;
}

.fnt-16 {
  font-size: 16px;
}

.fnt-15 {
  font-size: 15px;
}

.fnt-13 {
  font-size: 13px;
}

.fnt-12 {
  font-size: 12px;
}

.fnt-11 {
  font-size: 11px;
}

.mt-20 {
  margin-top: 20px;
}

.p-20 {
  padding: 20px;
}

.fnt-wt-600 {
  font-weight: 600;
}

.dark-violet-color {
  color: $violet-dark;
}

.text-light-brown {
  color: $text-light-brown;
}

.btn-post {
  background-color: $violet-dark;
  color: white;
}

.btn-response {
  padding-left: 6px;
  padding-right: 8px;
  fa-icon {
    margin-right: 3px;
  }
}

.btn-cancel {
  background-color: #a4aab2;
  color: white;
}

.checkbox {
  width: $checkbox-size;
  border: 1px solid white;
  height: $checkbox-size;
  position: relative;
  border: 2px solid lightgrey;
  border-radius: 3px;

  &:hover {
    // background-color: rgb(9, 24, 43);
  }

  input {
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;

    &:checked ~ label {
      display: block;
      width: $checkbox-size;
      height: $checkbox-size;
      top: 0;
      background-color: $checkbox-color;
      border-radius: 3px;
      left: -2px;
    }

    &:checked ~ label::after {
      content: "";
      cursor: pointer;
      display: block;
      height: 14px;
      width: 6px;
      transform: rotate(45deg);
      border-bottom: 3px solid white;
      border-right: 3px solid white;
      margin-left: 6px;
    }
  }

  label {
    position: absolute;
    display: none;
    top: 0;
    user-select: none;
    left: -1px;
    margin-top: -2px;
  }
}
//----------------- Question Card -----------------------------

.question-card {
  padding: 20px 15px 20px 20px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #fcfaf8;
  }
}

.app-question {
  border-right: 5px solid white;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.question-solved {
  .question-flag {
    background-color: #86c06a;
  }
}

.question-flag {
  position: absolute;
  width: 20px;
  height: 60px;
  background-color: transparent;
  top: -20px;
  left: -10px;
  transform: rotate(45deg);
}

.upvote-btn {
  padding-bottom: 0px;
}

.current-question {
  border-right: 5px solid $violet-dark;

  .question-card {
    background-color: #f2f1f0;
  }
}

.question-card-grid {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 5px;
}

.question-content {
  font-size: 14px;
}

.question-views {
  font-size: 12px;
}

.question-ans-count {
  font-size: 12px;
  background-color: $body-color;
  margin-left: 20px;
  border: 1px solid #d4d7dc;
  padding: 3px 5px;
  border-radius: 5px;
  color: #777777;
}

.question-time {
  font-size: 12px;
}

//>----------------- Question Card -----------------------------
