<div class="view-answer">
  <div class="d-flex justify-content-between">
    <div class="user-info pb-2">
      <div>
        <img src="https://i.pravatar.cc/300" alt="" class="profile-pic-sm" />
        <span class="ml-2 fnt-15">{{ question.askedBy }}</span>
        <span class="ml-2 text-muted fnt-13">{{ questionTimeAgo }}</span>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <img src="../../assets/img/report.png" alt="" class="answer-icons mr-2" />
      <span class="fnt-14">Report this</span>
    </div>
  </div>
  <p class="fnt-15 mt-1 mb-1">
    {{ question.title }}
  </p>
  <p class="text-muted mt-2 fnt-13">
    {{ question.description }}
  </p>
</div>
<div class="answer-count">
  <span>Answers ({{ answerCount }})</span>
</div>
<div class="d-flex flex-column justifiy-content-between">
  <div class="answers">
    <!-- <app-answer *ngFor="let i of answers" [answer]= i (setQuestionResolvedState)="questionEvent($event)" [isQuestionResolved]="this.question.resolved"></app-answer> -->
  </div>
  <div class="editor mt-3">
    <div class="big-editor" *ngIf="toggleFlyoutEditor">
      <div
        class="big-editor-head d-flex align-items-center justify-content-end"
      >
        <button
          class="btn big-editor-close"
          (click)="toggleFlyoutEditor = false"
        >
          <fa-icon [icon]="faCompressAlt"></fa-icon>
        </button>
      </div>
      <div class="big-editor-container">
        <form [formGroup]="newAnswer" class="h-100">
          <app-editor
            [formGroup]="newAnswer"
            [controlName]="'content'"
          ></app-editor>
        </form>
        <button
          class="btn big-editor-save"
          (click)="postAnswer()"
          [disabled]="this.newAnswer.invalid"
        >
          <img src="../../assets/send-plane.svg" alt="" class="" />
        </button>
      </div>
    </div>
    <div class="small-editor">
      <button class="btn editor-expand" (click)="toggleFlyoutEditor = true">
        <fa-icon [icon]="faExpandAlt"></fa-icon>
      </button>
      <form [formGroup]="newAnswer" class="h-100">
        <app-editor
          [formGroup]="newAnswer"
          [controlName]="'content'"
        ></app-editor>
      </form>
      <button
        class="btn small-editor-save"
        (click)="postAnswer()"
        [disabled]="this.newAnswer.invalid"
      >
        <img src="../../assets/send-plane.svg" alt="" />
      </button>
    </div>
  </div>
</div>
