//------------------------ SECTION NAV-------------------------
.keka-section-nav > li {
  position: relative;
  margin-bottom: 0px !important;
  text-transform: uppercase;
}

.current-section {
  font-weight: bold;
  color: black;

  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    background-color: #6e6c7b;
    height: 10px;
    position: absolute;
    left: 45%;
    top: 88%;
    transform: rotate(45deg);
  }

  a {
    color: black !important;
  }
}

.keka-section-nav a {
  display: inline-block;
  font-size: 12px;
  color: #818181;
}

.keka-section-nav {
  overflow: hidden;
  padding-top: 8px;
}

//-----------------------SECTION Nav-------------------------
