<div class="categories" *ngFor="let categoryDetail of categoryDetailsList">
  <div class="category-card">
    <div class="d-flex justify-content-between">
      <h5 class="font-weight-bold">{{ categoryDetail.name }}</h5>
      <span>({{ categoryDetail.totalTags }})</span>
    </div>
    <p class="text-muted fnt-14 mt-2">
      {{ categoryDetail.description }}
    </p>
    <div class="category-stats mt-4">
      <span class="text-muted fnt-12"
        >Tagged {{ categoryDetail.tagsThisWeek }} this week,
        {{ categoryDetail.tagsThisMonth }} this month</span
      >
    </div>
  </div>
</div>
